.aboutme-section{

    /* width: 100%; */
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: column; */
    /* gap: 10px; */
    justify-content: space-around;
    /* align-items: center; */
}

.aboutme-container-one{
    /* width: 90%; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    padding: 40px;
    font-size: 22px;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 5; }
}

.aboutme-section {
    animation: fadeIn 1s ease-in-out forwards;
}